body{
    background: #faede6;
}
.btn-1{
    background-color: #b38a4d;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}
.btn-2{
    background-color: #faede6;
    color: #1d1818;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}
.card{
    background-color: #b38a4d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}
.card-body h1{
    font-size: 58px;
    font-weight: 700;
    padding: 21px 0;
}
.colr{
    color: #8ab4b4;
}
.card1 .fa-check{
    color: #b83838;

}
.card1 .fa-xmark{
    color: #b83838;
}
.fa-xmark, .fa-check{
    font-size: 22px;
    padding: 5px;
}
@media (max-width: 991px){
    .card1,.card{
        margin-bottom: 30px;
    }
}