body{
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
h1{
    color: #ffffff;
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 30px;
    font-family: 'Oxygen', sans-serif;
}
.pricing-area{
    padding: 45px 0;
    text-align: center;
}
.single-pricing{
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 270px;
    display: block;
    box-sizing: border-box;



}

.card1{
    padding: 15px;

}

.deal-type{

    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000000;
    font-family: sans-serif;


}
.card1 p,.card2 p{
    font-size: .9em;
}

.price .money{
    font-size: 70px;
    font-weight: 900;
}
.price .money sup{
    font-size: 40px;
    font-weight: 300;
}


.btn1{
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 35px;
    padding: 10px 30px;
    color: #fff;
    border-radius: 50px;
}



@media (max-width: 992px){
    .single-pricing{
        margin-bottom: 30px;
        
    }
}